/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* font */
	--font-family-baloo-2: "Baloo 2", serif;
	--font-family-open-sans: "Open Sans", serif;
	--font-family-leckerli-one: "Leckerli One", serif;

	--font-logo: 400 2.5rem var(--font-family-leckerli-one);

	--font-heading-md: 600 1.75rem var(--font-family-baloo-2);
	--font-heading-sm: 600 1.125rem var(--font-family-baloo-2);

	--font-body-md: 400 1rem var(--font-family-open-sans);
	--font-body-sm: 400 0.875rem var(--font-family-open-sans);
	--font-body-xs: 400 0.75rem var(--font-family-open-sans);

	/* Input */
	--input-base: #1c1f21;
	--input-stroke: #363b40;
	--input-placeholder: #869198;

	/* Shape */
	--shape-background: #131516;
	--shape-body: #212427;
	--shape-button: #2d3136;
	--shape-hover: #383d42;

	/* Text */
	--text-body: #c8cdd0;
	--text-heading: #f9f9f9;

	/* Logo */
	--text-logo: #ff598b;

	/* Brand */
	--brand-light: #59b2ff;
}

body {
	overflow: hidden;
}

main {
	background-color: var(--shape-body);
	border-radius: 1rem;
	padding: 80px 0 80px 0;
}

form {
	max-width: 560px;
	margin: 0 auto;
}

h1 {
	font: var(--font-heading-md);
	color: var(--text-heading);
	margin-bottom: 40px;
}

select {
	padding-bottom: 3rem;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.gap-16 {
	gap: 16px;
}

.grid {
	display: grid;
}
